.about {
  background-color: rgb(102, 84, 100);
  z-index: 212;
  width: 100%;
  background-image: url("../../images/aboutBG1.png");
  height: 100vh;
}

.bg1 {
  background-image: url("../../images/aboutBG1.png");
  background-repeat: repeat-y;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 213;
}

/*Text*/
.text {
  padding-top:150px;
  text-align: center;
}
.title {
  font-size: 60px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 0.967;
}

.bigtext {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(230, 209, 227);
  line-height: 1.714;
}

.teg {
  width: 276px;
  height: 50px;
  margin: 10px auto;
  background-color: rgb(129, 162, 86);
  font-size: 25px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  padding-top: 10px;
  border-radius: 5px;
  position: relative;
}
.teg:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(129, 162, 86);
  border-bottom: 5px solid transparent;
  right: calc(50% - 10px);
  bottom: -19px;
}

.sb9:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -18px;
}
/*Text end*/

/*card*/
.card {
  top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(77, 63, 75);
  opacity: 0.502;
  width: 220px;
  height: 340px;
}

.img {
  width: 167px;
  border-radius: 50%;
  background-color: #ad86a1;
  height: 170px;
  margin: 0px auto;
}

/*.img img {*/
/*  position: relative;*/
/*  top: 9px;*/
/*}*/

.hrefs {
  display: flex;
  justify-content: center;
}
.name {
  font-size: 25px;
  font-family: "Lato";
  color: rgb(199, 182, 197);
  line-height: 2.32;
}

.proffesion {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(161, 202, 108);
  line-height: 4.143;
}

.hrefs a {
  color: white;
}
.hrefs span {
  margin: 5px;
}
.hoverImgs{
  background-image: url("../../images/block2img.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 9px;
  left: 8px;
}


.fb {
  border: 1px solid rgb(161, 133, 158);
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgb(161, 133, 158);
}

.twitt {
  border: 1px solid rgb(161, 133, 158);
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgb(161, 133, 158);
}

.gmail {
  border: 1px solid rgb(161, 133, 158);
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgb(161, 133, 158);
}

.din {
  border: 1px solid rgb(161, 133, 158);
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgb(161, 133, 158);
}
/*card end*/

/*hover*/
.block:hover {
  opacity: 1;
}
.block:hover > .img {
  background-color: #ff5c65;
}
.block:hover > .name {
  color: white;
}

.block:hover > .proffesion {
  color: #ff5c65;
}

.block:hover > .hrefs > .fb {
  background-color: #4f689e;
  border: 1px solid #4f689e;
}
.block:hover > .hrefs > .twitt {
  background-color: #a2d9e3;
  border: 1px solid #a2d9e3;
}
.block:hover > .hrefs > .gmail {
  background-color: #df5c64;
  border: 1px solid #df5c64;
}

.block:hover > .hrefs > .din {
  background-color: #3e61af;
  border: 1px solid #3e61af;
}
.block:hover > .img > .hoverImgs{
  background-image: url("../../images/hoverImg.png");
}

/*hover end*/

/* @media */

@media all and (max-width: 767px) {
  .title {
    font-size: 35px;
    margin:10px 20px;
    padding-top:100px;
  }
  .bigtext {
    font-size: 16px;
    padding-left:30px;
    padding-right: 30px;
  }
  .teg {
    width: 200px;
    height: 30px;
    margin: 10px auto;
    background-color: rgb(129, 162, 86);
    font-size: 18px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    padding-top: 10px;
    border-radius: 5px;
  }
}

/*@media end*/
