.work {
  background-color: rgb(129, 162, 86);
  z-index: 212;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/workBG1.png");
}

.bg1 {
  background-image: url("../../images/workBG1.png");
  width: 100%;
  z-index: 213;
}

.text {
  text-align: center;
  padding-top:150px;
}
.title {
  font-size: 60px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 0.967;
}

.text p {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(230, 209, 227);
  line-height: 1.714;
}

.nm{
  font-size: 20px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
}



.dd{
  display: flex;
  text-align: center;
  align-items:center;
  width: 80%;
  margin:0px auto;
  padding:50px 0px;
  flex-wrap: wrap;
}

.tt{
  margin-left:auto;
  display: flex;
  flex-wrap: wrap;
}
.gallery{
  display: flex;
  flex-direction: column;
}

.galleryDiv{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
 justify-content:center;
  align-items: center;
}

.galleryDiv div{
  justify-content: center;
}

.active {
  background-color: #F5C149;
  padding:3px;
  border-radius: 3px;
}

/*@media*/
@media all and (max-width: 767px) {
 .title{
   font-size: 35px;
   margin:10px 20px;
   padding-top:100px;
 }

  .text p {
    padding-left:30px;
    padding-right: 30px;
    font-size: 16px;
  }
}
/*@media end*/
/*images*/
.imagessAll{
  display: flex;
  flex-direction: column;
  margin:5px;
}
.imagessAll img{
  z-index: 1;
}

.teg{
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  position:relative;
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: "Lato";
  color: rgb(114, 114, 114);
  top: -5px;
}
.teg:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #EEEEEE;
  right: calc(50% - 15px);
  top: -36px;
  z-index: 2;
}




/*images*/

/*ImgHover*/

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 50px;
  padding: 16px 32px;
  cursor: pointer;
}

/*imgHoverEnd*/
